*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}

.bg-color{
background-color: rgb(55, 55, 230);
}

.headerTop{

display: flex;
align-items: center;
justify-content: space-between;
padding: .5em;
max-width: 80em;
margin: auto;
}

.logo{
display: flex;
align-items: center;
gap: .5em;
}
.logo>img{
 width: 3em;
 border-radius: 50%;
 box-shadow: 0 0 10px black;
}
.logo h1{
 text-transform: uppercase;
 color: white;
 font-weight: lighter;
}

.logoLink{
 width: 1.5em;
 margin: 0 .5em;
}

.menu{
 position: absolute;
 top: 4em;
 right: 0;
 left: 0;
 bottom:30%;
 background-color: rgb(88, 236, 69);
 text-align: end;
 max-height: 0;
 overflow: hidden;
 cursor: pointer;
 transition: all .5s ease-in-out;
 z-index: 1;
}
.menu a{
 display: block;
 cursor: pointer;
 text-transform: uppercase;
 text-decoration: none;
 padding: .5em;
 margin: 1.2em .15em;
 border-bottom: 1px solid white;
 color: black;
}
#menuToggle{
 width: 1px;
 height: 1px;
}
.labelToggle{
 background-color: rgb(224, 116, 116);
 width: 2em;
 height: 2em;
 display: flex;
 align-items: center;
 padding: .25em;
 box-shadow: 0 0 10px black;
 cursor: pointer;
}
.labelToggle #spanMobile{
 display: block;
 width: 1em;
 height: .25em;
 background-color: black;
 position: relative;
}

.labelToggle #spanMobile::after, .labelToggle #spanMobile::before{
 content: '';
 position: absolute;
  display: block;
 width: 1.5em;
 height: .25em;
 background-color: black;
}
.labelToggle #spanMobile::after{
 transform: translateY(8px);
}
.labelToggle #spanMobile::before{
 transform: translateY(-8px);
}
#menuToggle:checked  ~ .menu{
 max-height: initial;
 transition: all .5s ease-in-out;
}
#menuToggle:checked ~ .labelToggle #spanMobile{
 background-color: transparent;
}
#menuToggle:checked ~ .labelToggle #spanMobile::before{
 transform: rotate(45deg);
}
#menuToggle:checked ~ .labelToggle #spanMobile::after{
 transform: rotate(-45deg);
}

.container{
 text-align: center;
}

.title{
 display: inline-block;
 font-size: 4em;
 border-bottom: 2px solid #ccc;
 color: green;
 text-transform: uppercase;
 font-weight: lighter;
 margin-top: 1em;
}